{% load crispy_forms_tags %}
{% load i18n %} 
<div id="edit1" class="modal-dialog">
 <div id="edit2" class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">×</button>
     {% if rutasum.rutasum %}
     <h3>{% trans "Editar código" %} {{ rutasum.rutasum}}</h3>
     {% else %}

     <h3>{% trans "Nueva Ruta" %} </h3>

     {% endif %}  
   </div>     
   <div id="form-modal-body" class="modal-body" style="padding-left:10px;">
     <form  id="formnew" class="form-horizontal" action="" method="post">
      <input type="hidden" name="id_rutasum" id="id_rutasum" value="{{rutasum.idrutasum}}">
      {% if rutasum.rutasum %}
      <input type="hidden" name="accion" id="accion" value="edit">
      {% else %}
      <input type="hidden" name="accion" id="accion" value="new">
      {% endif %}
      

      {% crispy form %}




    </form>
  </div>
  <div class="modal-footer">

    <button id="btnSave" style="width:210px" class="btn btn-primary" type="button" onclick="btnSaveOnClick('{{ rutasum.rutasum }}')">
    Grabar
  </button>

   <button name="cancel" style="width:210px" data-dismiss="modal" class="btn btn-default" type="button">
    Cancelar
  </button>


 </div>
</div>
</div>
