{% load i18n %} 
<style>
.datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}
</style>
<div class="col-md-6">

  <table id="tabla_suministro" class="table table-striped table-bordered" cellspacing="0" width="100%" style="font-size:11px" >
    <thead>
      <tr>

        <th>{% trans "Secuencia" %}</th>
        <th>{% trans "Punto de Suministro" %}</th>
        <th>{% trans "Frecuencia" %}</th>
        <th>{% trans "Nic" %}</th>
        <th>{%trans "Dirección"%}</th>
        <th>{%trans "Número de Puerta"%}</th>
        <th>{%trans "Localidad"%}</th>
        <th>{%trans "Barrio"%}</th>
        <th>{%trans "RutaSum"%}</th>     
      </tr>
    </thead>
    <tbody>

      {% for s in suministros %}
      <tr>
        
        <td style="white-space:nowrap;">{% widthratio forloop.counter 1 10 %}</td>
        <td style="white-space:nowrap;">{{s.punto_suministro|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.Frecuencia|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.cliente|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.calle|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.numero_puerta|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.id_localidad|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.barrio|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.rutasum|default_if_none:'--'}}</td>


      </tr> 

      {%endfor%}     
    </tbody>
  </table>
  <div id="textFilas"></div> 
</div>



<div class="col-md-6"><div id="remplazar">
  {% include 'data_admin/ruta_sum/tabla_sum_asignar.html'  with feedback_form=feedback_form  %}
</div>
</div>
               <script>


 var table_datosum = $('#tabla_suministro').DataTable( {
            columnDefs: [
            { "visible": false, "targets": 8 },

            ],
            language:{
              info:"Visualizando _START_ a _END_ de _TOTAL_ Suministros",
              search:"Buscar",
              lengthMenu: " ",
              zeroRecords: "No se encontraron resultados",
              infoEmpty: "Visualizando 0 a _END_ de _TOTAL_ Suministros ",
              infoFiltered:'',
              emptyTable:"No hay resultados ",
              paginate:{
                previous:"Anterior.",
                next:"Siguiente.",
              }
            },
             select: {
                style:'single',
                info:false,
                
            },
            scrollY: 600,
            autoWidth: false,
            scrollX: true,
            pageLength:20,             
            
            preDrawCallback: function (settings) {
              var api = new $.fn.dataTable.Api(settings);
              var pagination = $(this)
              .closest('.dataTables_wrapper')
              .find('.dataTables_paginate');


              if (api.page.info().pages <= 1) {

                pagination.hide();
              }
              else {
                pagination.show();

              }
              setTimeout(function() { adjust(table_datosum); }, 100);

            }

            
          });

     function adjust(controlname)
    {
        controlname.columns.adjust();

    }


                table_datosum.on( 'dblclick', 'td', function () {
              
            var rowIdx = table_datosum.cell( this ).index().row;
            //  var addRow = table_techs_cuadrilla.rows( rowIdx ).data()
          
            var rowNew = [table_datosum.cell({row:rowIdx,column:0}).data(),table_datosum.cell({row:rowIdx,column:1}).data(),table_datosum.cell({row:rowIdx,column:2}).data(),table_datosum.cell({row:rowIdx,column:3}).data(),table_datosum.cell({row:rowIdx,column:4}).data(),table_datosum.cell({row:rowIdx,column:5}).data(),table_datosum.cell({row:rowIdx,column:6}).data(),' '];

            table_datosum.rows(rowIdx).remove().draw();                          
            var row = table_datosum_asignar.row.add(rowNew).draw();
            $("#btnTransferir").prop("disabled",false);
            $("selected", table_datosum).remove();
            $("#btnDelete").prop("disabled",true);
  });
/*        

            table_datosum.on( 'select', function ( e, dt, type, indexes ) {
           var ids_sec ="";
           if (table_datosum.rows('.selected').data().count()>0)
            {
               var m_ids_ordenes = $.map(table_datosum.rows('.selected').data(), function (item) {
               
               alert(rowIdx)
               ids_sec=item[0];
               valor=parseInt(ids_sec) + 5;
                });

            }
           else
           {
             toastr.error("Seleccione al menos una ruta","Atención!!",1500);
             return;
           }
            console.log(ids_sec);

     });
 */  

$("#btnDelete").prop("disabled",true);

 

  

 

 /*


                           ids_suministros = "[";
            if (table_datosum.rows('.dblclick').data().count()>0)
            {

                var m_ids_suministros = $.map(table_datosum.rows('.selected').data(), function (item) {
                return item[0] +'|'+ item[1];
                 });
                m_ids_suministros.forEach(function(entry) {
                ids_suministros += "" + entry + "";
                 });
             
                }
            else
            {
              toastr.error("Seleccione al menos una ruta","Atención!!",1500);
              return;
            }
            ids_suministros +=  "]";
            console.log(ids_suministros);
       




        
        $("#btnDelete").on("click",function(){

        var id_centro = $('#id_oficina').val();
        console.log(id_centro)

          var filtros = {};
        filtros.csrfmiddlewaretoken = '{{csrf_token}}';
        filtros.id_suministros=ids_suministros;
        filtros.id_centro=id_centro;
        filtros.id_rutasum=id_tp;
        console.log(filtros);
        $.ajax({
            url: "{% url 'qorder:suministro_delete' %}",
            type: 'post',
            datatype: 'json',
            data: filtros,
            statusCode: {
                200: function(data) { 
                console.log(data)               
                        $("#_tabla_suministro").html(data);
                  
                        UpdateSumSinRutas();
 

                },
                301: function() {
                    //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
                },
                500: function() {
                   
                   // Materialize.toast('Server error, contact an administrator.', 2000, 'red');
                }

    }

});
var rows = table_datosum
    .rows( '.selected' )
    .remove()
    .draw();
});
*/

                    </script>