{% load crispy_forms_tags %}
{% load i18n %}
<div id="edit1" class="modal-dialog">
     <div id="edit2" class="modal-content">
     
       <form  id="form" class="form-horizontal" action="" method="post">
              <input type="hidden" id="iddisable" >
               <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">×</button>
                     <h3>{% trans "Inactivar dispositivo móvil" %} {{ terminal.numero_serie }}</h3>
               </div>
               
               <div id="form-modal-body" class="modal-body" style="padding-left:10px;">
                    {% csrf_token %}
                      
       <div class="alert"><span class="glyphicon glyphicon-warning-sign"></span>  {% trans "Desea activar este dispositivo móvil?" %}</div>
       
 
               </div>
               <div class="modal-footer ">
        <button type="button" class="btn btn-success"  onclick="btnDisableOnClick()" ><span class="glyphicon glyphicon-ok-sign"></span> {% trans "btnYes" %}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> {% trans "btnNo" %}</button>
      </div>


        </form>

      </div>
</div>
