  {% load i18n %} 

  <div class="col-md-12">


    <table id="resultado" class="table table-striped table-bordered" cellspacing="0" width="100%" >
      <thead>
        <tr>
          <th>{% trans "" %}</th>
          <th>{% trans "Ciclo" %}</th>
          <th>{% trans "Fecha de Lectura" %}</th>
          <th>{% trans "Hora" %}</th>
          <th>{% trans "Ruta" %}</th>
          <th>{% trans "Itinerario" %}</th>
          <th>{% trans "Sec." %}</th>

          <th>{% trans "Numero Medidor" %}</th>
          <th>{% trans "Marca" %}</th>        
          <th>{% trans "Ruedas" %}</th>      

          <th>{% trans "Lectura" %}</th>    
          <th>{% trans "Fecha de Descarga" %}</th>
          <th>{% trans "Resultado lectura" %}</th>    

          <th>{% trans "Lectura ant." %}</th>    
          <th>{% trans "Consumo ant." %}</th>    
          <th>{% trans "Fecha lect. ant." %}</th>    

          <th>{% trans "Cód. anomalía" %}</th>
          <th>{% trans "Anomalía" %}</th>

          <th>{% trans "Cód. técnico" %}</th>    
          <th>{% trans "Técnico" %}</th>    
    <th>{% trans "Cant Intentos" %}</th>
          <th>{% trans "Cons Historico" %}</th>
          
          <th>{% trans "Equipo" %}</th>
          <th>{% trans "Calle" %}</th>
          <th>{% trans "Puerta" %}</th>
          <th>{% trans "Piso" %}</th>
          <th>{% trans "Duplicador" %}</th>
          
          <th>{% trans "Departamento" %}</th>    
          <th>{% trans "Municipio" %}</th>
          <th>{% trans "Localidad" %}</th>
          
          <th>{% trans "Latitud" %}</th>
          <th>{% trans "Longitud" %}</th>
          
        </tr>
      </thead>
      <tbody>
        {% for s in result %}
        <tr>
          <td ><i style="cursor: pointer" class="fa fa-eye fa-fw" onclick="showOrder('{{s.numos}}');"></i></td>
          <td>{{s.ciclo|default_if_none:''}}</td>
          <td>{{s.fecha|default_if_none:''}}</td>
          <td>{{s.hora|default_if_none:''}}</td>
          <td>{{s.ruta|default_if_none:''}}</td>
          <td>{{s.itinerario|default_if_none:''}}</td>
          <td>{{s.sec_reg|default_if_none:''}}</td>

          <td style="white-space:nowrap;">{{s.num_serie|default_if_none:''}}</td>
          <td>{{s.marca|default_if_none:''}}</td>
          <td>{{s.num_ruedas|default_if_none:''}}</td>

          <td>{{s.lectura|default_if_none:''}}</td>
          <td style="white-space:nowrap;">{{s.fecha_resolucion|default_if_none:''}}</td>
          <td style="white-space:nowrap;">{{s.tipo_resultado|default_if_none:''}}</td>

          <td>{{s.lectura_ant|default_if_none:''}}</td>
          <td>{{s.consumo_ant|default_if_none:''}}</td>
          <td>{{s.fecha_lect_ant|default_if_none:''}}</td>

          <td>{{s.id_anomalia|default_if_none:''}}</td>
          <td style="white-space:nowrap;">{{s.desc_anomalia|default_if_none:''}}</td>


          <td>{{s.cod_tecnico|default_if_none:''}}</td>
          <td style="white-space:nowrap;">{{s.nombre_tecnico|default_if_none:''}}</td>
          <td>{{s.cant_intentos|default_if_none:''}}</td>
          <td>{{s.cant_historico|default_if_none:''}}</td>
         
          <td>{{s.pto_suministro|default_if_none:''}}</td>
          <td style="white-space:nowrap;">{{s.calle|default_if_none:''}}</td>
          <td>{{s.num_puerta|default_if_none:''}}</td>
          <td>{{s.piso|default_if_none:''}}</td>
          <td>{{s.duplicador|default_if_none:''}}</td>
          
          <td style="white-space:nowrap;">{{s.departamento|default_if_none:''}}</td>
          <td style="white-space:nowrap;">{{s.municipio|default_if_none:''}}</td>
          <td style="white-space:nowrap;">{{s.localidad|default_if_none:''}}</td>

          <td style="white-space:nowrap;">{{s.latitud|default_if_none:''}}</td>
          <td style="white-space:nowrap;">{{s.longitud|default_if_none:''}}</td>
         

        </tr> 
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>


function showOrder(e){

  $.ajax(
  {
    url: "{% url 'qorder:consulta_orden_detallada' %}",
    type: 'post',
    headers: {'X-CSRFToken': '{{ csrf_token }}'},
    datatype: 'json',
    data: 
        {
          numos:e
        },
    statusCode: {
                  200: function(data)
                  {
                    //reemplazar contenido y abrir modal
                    //console.log(data)
                    $("#contenido").html(data);
                    $('#myModal').modal();
                  } ,

                  301: function() 
                  { 
                    //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
                  },
                  
                  500: function() 
                  {
                    toastr.error(gettext('Server error, contact an administrator.'), ' ', {timeOut: 2000})
                  }
                }
}
);





  
}

   function adjust(controlname)
   {
    controlname.columns.adjust();
  }
  var fechadesde=$("#fecha_desde").data('datepicker').getFormattedDate('ddmmyyyy');
  var fechahasta=$("#fecha_hasta").data('datepicker').getFormattedDate('ddmmyyyy');
  var table_resultado = $('#resultado').DataTable({
    language: datetable_languaje,    
    scrollX:true,

    dom: 'Bfrtip',
    buttons: [
            {
            extend: 'excel',
            text: 'Excel',
            title: 'Reporte Lecturas de la ruta - desde '+ fechadesde +' hasta ' + fechahasta
            },
            {
            extend:'copy',
            text:'Copiar',
          },
        ],
        language: {
              info:"Visualizando _START_ a _END_ de _TOTAL_ ",
              search:"Buscar",
              lengthMenu: " ",
              zeroRecords: "No se encontraron resultados",
              infoEmpty: "Visualizando 0 a _END_ de _TOTAL_  ",
              infoFiltered:'',
              emptyTable:"No hay resultados ",
              paginate:{
                previous:"Anterior.",
                next:"Siguiente.",
              },
            buttons: {
                copyTitle:'Registros copiados al portapapeles',
                copyKeys: 'Presione <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> para copiar los datos de la tabla al portapapeles. <br> <br> Para cancelar, haga clic en este mensaje o presione Esc. ',
                copySuccess: {
                    _: '%d Lineas copiadas',
                    1: '1 linea copiada'
                },
            },
        },
    
    preDrawCallback: function (settings) 
    {
      var api = new $.fn.dataTable.Api(settings);
      var pagination = $(this)
        .closest('.dataTables_wrapper')
        .find('.dataTables_paginate');


      if (api.page.info().pages <= 1) 
      {
        pagination.hide();
      }
      else 
      {
        pagination.show();
      }
      setTimeout(function() { adjust(table_resultado); }, 100);

    }
  });



</script>