{% load qorder_tags %}


<div id="orders">
        <div class="col s12">
          <div class="row">
            <div class="right-align">
                <button data-target="modal1" class="btn green modal-trigger" onClick="btnNewOnClick()">Nueva solicitud</button>
            </div>
        </div>
        <div class="row">
            {{ devices }}
        <table id="table_ante" class="compact striped">
            <thead>
                <tr>
                    <th class="left-align">Device</th>

                </tr>
            </thead>
            <tbody>

                  {% for m in devices %}
                <tr>
                    <td class="left-align">{{m.alias}}</td>

                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
             <tr>
             </tr>
         </tfoot>
     </table>
</div>
 </div>

</div>



<script>
  $('#table_ante').DataTable( {
        dom: 'frtip',
        language: datetable_languaje

    } );

    function btnNewOnClick() {
            var filtros = {};
            filtros.csrfmiddlewaretoken = '{{csrf_token}}';

            $.ajax({
                async: true,
                type: "post",
                url: "{% url 'qorder:nueva_solicitud' %}",
                data: filtros,
                statusCode: {
                    300: function() {
                        Materialize.toast('Seleccione al menos un personal.', 2000, 'red');
                    },
                    500: function() {
                        Materialize.toast('Se produjo un error intentando obtener los datos solicitados (Error Code 500).', 2000, 'red');
                    }

                },
                success: function( strData ){
                     getPage('{% url 'qorder:nueva_solicitud' %}');
                }
            });
    }



    </script>
