   {% load i18n %} 


                        <table id="table_logruta" class="table table-striped table-bordered table-condensed" cellspacing="0" width="100%">
                              <thead>
                                 <tr>
                                  <th>{% trans "Estado" %}</th>
                                  <th>{% trans "Fecha" %}</th>
                                  <th>{% trans "Usuario" %}</th>
                                  <th>{% trans "Observación" %}</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for e in estado%}
                                <tr>
                                  <td>{{e.estado|default_if_none:'--'}}</td>
                                  <td>{{e.fecha_log|default_if_none:'--'}}</td>
                                  <td>{{e.usuario|default_if_none:'--'}}</td>
                                  <td>{{e.observacion|default_if_none:'--'}}</td>                         
                                </tr>
                                {% endfor %}
                              </tbody>


                    </table>
              
                    <script> 



</script>