{% load crispy_forms_tags %}
   {% load i18n %} 
<div id="edit1" class="modal-dialog">
 <div id="edit2" class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">×</button>
     {% if pregunta.id %}
     <h3>{% trans "Editar pregunta" %} {{ pregunta.titulo}}</h3>
     {% else %}

     <h3>{% trans "Nueva pregunta" %} </h3>

     {% endif %}  
   </div>     
   <div id="form-modal-body" class="modal-body" style="padding-left:10px;">
     <form  id="formpregunta" class="form-horizontal" action="" method="post">
      <input type="hidden" name="id_pregunta" id="id_pregunta" value="{{ pregunta.id }}">
      {% if pregunta.id %}
      <input type="hidden" name="accion" id="accion" value="edit">
      {% else %}
      <input type="hidden" name="accion" id="accion" value="new">
      {% endif %}
      

      {% crispy form %}




    </form>
  </div>
  <div class="modal-footer">

   <button id="btnSave" style="width:210px" class="btn btn-primary" type="button" onclick="btnSavePreguntaOnClick('{{ pregunta.id }}')">
    Grabar
  </button>

   <button name="cancel" style="width:210px" data-dismiss="modal" class="btn btn-default" type="button">
    Cancelar
  </button>


 </div>
</div>
</div>
