   {% load i18n %} 

<div class="col-md-7">
                        <table id="table_routes" class="table table-striped table-bordered table-condensed" cellspacing="0" width="100%">
                        <thead>
                            <tr>
 
                                <th>{% trans "lblCiclo" %}</th>
                                <th>{% trans "lblRuta" %}</th>
                                
                                <th>{% trans "lblItinerario" %}</th>
                                <th>{% trans "Semana" %}</th>
                                <th>{% trans "lblCantidad" %}</th>
                                <th>{% trans "Cantidad leídas" %}</th>
                                <th style="text-align:right;">{% trans "Avance" %}</th>
                                <th>{% trans "lblId" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in rutas %}
                            <tr>

                                <td>{{t.ciclo|default_if_none:'--'}}</td>
                                <td>{{t.ruta}}</td>
                                <td>{{t.itinerario|default_if_none:'--'}}</td>
                                <td>{{t.anio|default_if_none:'--'}}</td>
                                <td>{{t.cantidad|default_if_none:'--'}}</td>
                                <td>{{t.cantidad_leido|default_if_none:'--'}}</td>
                                <td style="text-align:right;">{{t.getAvance}} %</td>
                                <td>{{t.id|default_if_none:'--'}}</td>
  
                             </tr>
                            {% endfor %}
                        </tbody>


                    </table>
</div>
     <div id="_table_estado" >      
        {% include 'ordenes/monitor_rutas/_table_estado.html'  with feedback_form=feedback_form  %}
     </div>                
                    <script> 

          var table_routes_div = $('#table_routes').DataTable( {
            language: datetable_languaje,
            autoWidth: true,
           info: false,
        scrollY: 250,
            pageLength:500,
            select: 'multi',
        columnDefs: [
            {
                "targets": [ 7 ],
                "visible": false,
                "searchable": false
            },
        ],
            preDrawCallback: function (settings) {
              var api = new $.fn.dataTable.Api(settings);
              var pagination = $(this)
              .closest('.dataTables_wrapper')
              .find('.dataTables_paginate');

              if (api.page.info().pages <= 1) {
                pagination.hide();
              }
              else {
                pagination.show();
              }

            }
          });
    


table_routes_div.on( 'select', function ( e, dt, type, indexes ) {
    
    var cant = table_routes_div.rows({ selected: true }).data().length;
    var dato =table_routes_div.rows({ selected: true }).data();

    var cleido = 0;
    var ctot =0;
    
    if( cant > 0)
    {
        for (i = 0; i < cant; i++) 
        { 
            cleido += eval(dato[i][5]);
            ctot += eval(dato[i][4]);


        }

    }
    else
    {
        table_routes_div.rows().every( function ( rowIdx, tableLoop, rowLoop ) 
        {
          var d = this.data();
          cleido += eval(d[5]);
          ctot += eval(d[4]);

        } );

    }

    starChart( cleido,  ctot)

} );


table_routes_div.on( 'deselect', function ( e, dt, type, indexes ) {


    var cant = table_routes_div.rows({ selected: true }).data().length;
    var dato =table_routes_div.rows({ selected: true }).data();

    var cleido = 0;
    var ctot =0;
    
    if( cant > 0)
    {
      
        for (i = 0; i < cant; i++) 
        { 
            cleido += eval(dato[i][5]);
            ctot += eval(dato[i][4]);


        }
  
        
    }
    else
    {
        table_routes_div.rows().every( function ( rowIdx, tableLoop, rowLoop ) 
        {
          var d = this.data();
          cleido += eval(d[5]);
          ctot += eval(d[4]);

        } );

    }

  starChart( cleido,  ctot)

} );

  
    function cargarSuministros()
    {


        var filtros = {};
        filtros.csrfmiddlewaretoken = '{{csrf_token}}';
        filtros.id_ruta=$("#rutaseleccionada").val();
        $.ajax({
            url: "{% url 'qorder:lista_suministros_ruta' %}",
            type: 'post',
            datatype: 'json',
            data: filtros,
            statusCode: {
                200: function(data) {
                   
                    $("#_table_suministros_ruta").html(data);
                   
                },
                301: function() {
                    //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
                },
                500: function() {
                   // Materialize.toast('Server error, contact an administrator.', 2000, 'red');
                }

            }
        });
    }

   /* table_routes_div
    .on( 'select', function ( e, dt, type, indexes ) {
         var id_to = '';
        console.log('table_routes on select');
        var m_id_to= $.map(table_routes_div.rows('.selected').data(), function (item) {
            id_tp = item[6]
        });
        $("#rutaseleccionada").val(id_tp);
        console.log("Ruta seleccionada "+id_tp);
        cargarDivisiones();
        cargarSuministros();
    }); */

                    </script>