 {% load i18n %} 
     <div class="col-md-6" style="height: 100%;">
       <div  class='panel panel-default' style="height: 100%;">
       <div class="panel-heading"> <h4 class="panel-title">Observaciones de la anomalía</h4> </div>
          <div class="panel-body">
                
        

   <table id="table_observaciones" class="table table-striped table-bordered table-condensed" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>{% trans "Código" %}</th>
                                <th>{% trans "Descripción" %}</th>
                             
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in observaciones %}
                            <tr>
                                <td>{{t.codigo|default_if_none:'--'}}</td>
                                <td>{{t.descripcion|default_if_none:'--'}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                         

  </table>
  </div>
  </div>
  </div>
                    <script> 
                    
          var table_observaciones = $('#table_observaciones').DataTable( {
            language: datetable_languaje,
 
          
 
             info: false,
             "iDisplayLength":6,
        "aaSorting": [[ 0, "desc" ]],



            select: 'single',
               preDrawCallback: function (settings) {
              var api = new $.fn.dataTable.Api(settings);
              var pagination = $(this)
              .closest('.dataTables_wrapper')
              .find('.dataTables_paginate');

              if (api.page.info().pages <= 1) {
                pagination.hide();
              }
              else {
                pagination.show();
              }

            }


          });

                    </script>