{% load qorder_tags %}
  {% load i18n %} 
  <div id='reporte'>
    <row>
     <div class="col-md-12">
      <div class="panel panel-default" style="box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);">
        <div class="panel-heading">
          <div class="container-fluid panel-container style='padding-right:0px; padding-left:0px;'">
            <div class="col-xs-6">
              <h2 class="panel-title">Reporte de desempeño lecturista</h2>
            </div>
            <div class="input-field col-xs-3 text-right">

                    </div>
            <div class="input-field col-xs-3 text-right">
              <div class="form-inline">
                <label>{% trans "Contratista" %}</label>
                <select class="select form-control" id="id_oficina"
                name="oficina" onchange="searchRutasum()">
                {% if not user.work_units.all|length_is:'1' %}
                <option value="">{% trans "Contratista" %}</option>
                {% endif %} 
                {% for ct in user.work_units.all %}
                <option value="{{ct.id_workunit}}">{{ct}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <row>
                    <div class="col-md-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">{% trans "Lecturistas" %}</h4>
              </div>

              <div class="panel-body">
                <div id="_tabla_lecturistas">

                </div>

              </div>
            </div>

          </div>

          <div class="col-md-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">{% trans "Rutas" %}</h4>
              </div>

              <div class="panel-body">
                <div id="_tabla_rutasuministro">

                </div>
              </div>
            </div>

          </div>

          <div class="col-md-2">
            <div id="fechas" class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Fecha de trabajo</h4>
              </div>


              <div class="panel-body">
               <h4>Desde</h4>
               <div id="sandbox-container">

                <div class="input-group date">
                  <input id="fecha_desde" type="text" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div> 
              </div>



              <h4>Hasta</h4>
              <div id="sandbox-container">

                <div class="input-group date">
                  <input id="fecha_hasta" type="text" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
              <div>

                </div>
              </div>
            </div>

          </div>

        </row>
        <row>
          <div class="col-md-12">
                          <br/>
                <button  id="btnAplicar" class="btn btn-primary" style="float:left" >
                  Ver reporte</button>
          </div>
        </row>
        <row>
          <div class="col-md-12">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                 Resultado
               </h4>
             </div>
             <div class="row">
              <div class="panel-body">
                <div id="_tabla_resultado" >
                </div>
              </div>
            </div>

          </div>

        </row>
      </div>
    </div>
  </div>
</row>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" >
        <div id="contenido"  >

          <!-- Change image source for large popup-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>










<script>

  var ids_ordenes="";
  var fecha1 ="";
  var fecha2 ="";



  var fecha_desde = $('#fecha_desde').datepicker(
  {
    format: "dd/mm/yyyy",
    autoclose: true,
    todayHighlight: true,
    language: 'es',
    defaultDate: new Date()
  });
  $("#fecha_desde").datepicker().datepicker("setDate", new Date());



  var fecha_hasta = $('#fecha_hasta').datepicker(
  {
    format: "dd/mm/yyyy",
    autoclose: true,
    todayHighlight: true,
    language: 'es',
    defaultDate: new Date()
  });
  $("#fecha_hasta").datepicker().datepicker("setDate", new Date());

  $("#chkIncluirExportadas").change(function() {

     searchRutasum();
     if($('#chkIncluirExportadas').prop('checked'))
     {
     $("#fechas").show();
     }
     else
     {
      $("#fechas").hide();
     }

    });



  function adjust(controlname)
  {
    controlname.columns.adjust();

  }


  var centro = "";

  $("#btnAddRutasum").prop("disabled",true);
  {% if user.work_units.all|length_is:'1' %}

  searchRutasum();
  {% endif %}



  function searchRutasum(){
    var centro = $('#id_oficina').val();
    if (centro=='')
    {
      $("#_tabla_lecturistas").html("");
      return false;

    }


    $.ajax({
      url: "{% url 'qorder:obtener_desemp_lect' %}",
      type: 'post',
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      datatype: 'json',
      data: {id_oficina:centro},
      statusCode: {
        200: function(data) {
          //console.log('data')
          $("#_tabla_lecturistas").html(data);

        },
        301: function() {
                        //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
                      },
                      500: function() {

                        toastr.error(('Server error, contact an administrator.'), ' ', {timeOut: 2000})
                      }
                    }
                  });

  }



  $("#btnAplicar").on("click",function(){

    
    fecha1 =  $("#fecha_desde").data('datepicker').getFormattedDate('yyyy-mm-dd 00:00:00');
    fecha2 =  $("#fecha_hasta").data('datepicker').getFormattedDate('yyyy-mm-dd 00:00:00');

    
    

    if ( fecha2 >= fecha1)
    {
      
    }
    else
    {
      
      toastr.error("La fecha hasta no puede ser mayor a la fecha desde","Atención!!",1500);
      return false;
    }
    var centro = $('#id_oficina').val();
    if (centro=='')
    {
      toastr.error("Seleccione un Contratista","Atención!!",1500);
      return false;
    }
    if (id_tecnicos=='[')
    {
      toastr.error("Seleccione un tecnico ","Atención!!",1500);
      return false;
    }

    ids_ordenes ="[";
    if (table_rutasum.rows('.selected').data().count()>0)
    {

      var m_ids_ordenes = $.map(table_rutasum.rows('.selected').data(), function (item) {
        return item[0];
      });
      
      m_ids_ordenes.forEach(function(entry) {
        ids_ordenes += "'" + entry + "',";
      });

    }
    else
    {
      toastr.error("Seleccione al menos una ruta","Atención!!",1500);
      return false;
    }
    ids_ordenes +=  "]";

      var semana = $('#semana').val();
      var _sincluirExp ="0";
      var incluirExp = $('#chkIncluirExportadas').prop('checked')
      if(incluirExp) _sincluirExp="1"; else _sincluirExp="0";

      $.ajax({
        url: "{% url 'qorder:rpt_desemp_lect_getreporte' %}",
        type: 'post',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        datatype: 'json',
        data: { id_oficina:centro,
          id_rutasum: ids_ordenes,
          f_desde: fecha1,
          f_hasta: fecha2,
          exportadas: _sincluirExp,
          semana: semana
        },

        statusCode: {
          200: function(data) {
              //console.log('llego')
              //onsole.log(data)
              $("#_tabla_resultado").html(data);
            },
            301: function() {
                            //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
                          },
                          500: function() {

                            toastr.error(gettext('Server error, contact an administrator.'), ' ', {timeOut: 2000})
                          }
                        }
                      });

  });



  $("#filter_collapse").on("click",function(){
    $("#filter_collapsible").collapse('hide');
  });

   $('#semana').on('input', function() {
  if( $(this).val().length === 0 ) {
      $('#semana').val('');
      toastr.error('Seleccione una semana valida', ' ', {timeOut: 1500})
      $("#_tabla_lecturistas").html('');
      return false;
    }
  else
  {
    if ($(this).val().length > 2 || $(this).val() === 'TODAS')
    {
      var centro = $('#id_oficina').val();
      var semana = $('#semana').val();
      incluirExp = $('#chkRexportar').prop('checked')
        
    if (centro==""||semana=="")
    {
      $("#_tabla_lecturistas").html('');
      return;
    }
    searchRutasum()();
    }


  }

});


</script>