{% load i18n %} 
  <div class="col-md-12">
    <table id="table_tipo_ordenes" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>{% trans "Tipo" %}</th>
                                <th>{% trans "Descripción" %}</th>

                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in tipos_ordenes %}
                            <tr>
                                <td>{{t.tipo_orden|default_if_none:'--'}}</td>
                                <td>{{t.descripcion|default_if_none:'--'}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>


                    </table>
                    </div>
                    <script> 

          var table_tipo_ordenes = $('#table_tipo_ordenes').DataTable( {
            language: datetable_languaje,
            autoWidth: true,

            pageLength:6,

            select: 'single',
            preDrawCallback: function (settings) {
              var api = new $.fn.dataTable.Api(settings);
              var pagination = $(this)
              .closest('.dataTables_wrapper')
              .find('.dataTables_paginate');

              if (api.page.info().pages <= 1) {
                pagination.hide();
              }
              else {
                pagination.show();
              }

            }
          });

  


   table_tipo_ordenes.on( 'select', function ( e, dt, type, indexes ) {
        
        var id_to = '';
        var m_id_to= $.map(table_tipo_ordenes.rows('.selected').data(), function (item) {
            id_tp = item[0]
        });
        var filtros = {};
        filtros.csrfmiddlewaretoken = '{{csrf_token}}';
        filtros.tipo_orden=id_tp;
        $.ajax({
            url: "{% url 'qorder:tiposordenes_propiedades' %}",
            type: 'post',
            datatype: 'json',
            data: filtros,
            statusCode: {
                200: function(data) {
                
                    $("#anomalias").html(data);
                 
                },
                301: function() {
                    //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
                },
                500: function() {
                   // Materialize.toast('Server error, contact an administrator.', 2000, 'red');
                }

            }
        });

    });






    function volver(onclick_data){
     
     //   setTimeout(function() { select_to(onclick_data); }, 100);
    }
 
                    </script>