{% load i18n %}

<div class="col-md-12">


  <table id="resultado" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>{% trans "Ver Detalle" %}</th>

        <th>{% trans "Ciclo" %}</th>
        <th>{% trans "Porción" %}</th>
        <th>{% trans "Ruta" %}</th>
        <th>{% trans "Estado"%}</th>
        <th>{% trans "Código acción"%}</th>
        <th>{% trans "Descripción acción"%}</th>
        <th>{% trans "Fecha Lectura" %}</th>
        <th>{% trans "Hora Lectura" %}</th>
        <th>{% trans "Punto de Suministro" %}</th>
        <th>{% trans "Número medidor" %}</th>
        <th>{% trans "Cantidad de reintentos" %}</th>
        <th>{% trans "Lectura registrada" %}</th>
        <th>{% trans "Consumo" %}</th>
        <th>{% trans "Foto" %}</th>
        <th>{% trans "Anomalía" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for s in result %}
      <tr>
        <td><i style="cursor: pointer" class="fa fa-eye fa-fw" onclick="verOrden('{{s.num_os}}');"></i></td>

        <td style="white-space:nowrap;">{{s.ciclo|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.itinerario|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.ruta|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.estado|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.codigo_accion|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.descripcion_accion|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.fh_lectura|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.hora_lectura|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.punto_suministro|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.aparato|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.cantidad_intentos|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.lectura|default_if_none:'--'}}</td>
        <td style="white-space:nowrap;">{{s.consumo|default_if_none:'--'}}</td>
        {% if s.foto == '1' %}
        <td><i style="cursor: pointer" class="fa fa-camera" onclick="verFoto('{{s.num_os}}');"></i><p hidden>{{s.url}}</p></td>
        {% else %}
        <td style="white-space:nowrap;"><i style="cursor: pointer;white-space:nowrap;"></i>Sin fotos</td>
        {% endif %}
        <td style="white-space:nowrap;">{{s.anomalia|default_if_none:'--'}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  var table_resultado = $('#resultado').DataTable({
    language: datetable_languaje,
    scrollX: true,
    scrollY: 500,
    scrollCollapse: true,
    pageLength: 100,
    paging: true,
    order: [[1, "asc"]],
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'copy',
        text: 'Copiar',
      },
      {
        extend: 'excel',
        text: 'Excel',
        title: 'Reporte de Auditoría',
      }
    ],

    preDrawCallback: function (settings) {
      var api = new $.fn.dataTable.Api(settings);
      var pagination = $(this)
        .closest('.dataTables_wrapper')
        .find('.dataTables_paginate');


      if (api.page.info().pages <= 1) {
        pagination.hide();
      }
      else {
        pagination.show();
      }
      setTimeout(function () { adjust(table_resultado); }, 100);

    }
  });
  function verOrden(num_os__) {

    $.ajax(
      {
        url: "{% url 'qorder:consulta_orden_detallada' %}",
        type: 'post',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        datatype: 'json',
        data:
        {
          numos: num_os__
        },
        statusCode: {
          200: function (data) {
            $("#contenido").html(data);
            $('#myModal').modal();
          },
          301: function () {
          },
          500: function () {
            toastr.error(gettext('Server error, contact an administrator.'), ' ', { timeOut: 2000 })
          }
        }
      }
    );
  }
  function verFoto(num_os__){
    $.ajax(
      {
        url: "{% url 'qorder:consulta_foto' %}",
        type: 'post',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        datatype: 'json',
        data:
        {
          numos: num_os__
        },
        statusCode: {
          200: function (data) {
            $("#contenido").html(data);
            $('#myModal').modal();
          },
          301: function () {
          },
          500: function () {
            toastr.error(gettext('Server error, contact an administrator.'), ' ', { timeOut: 2000 })
          }
        }
      }
    );
  }

</script>