  {% load qorder_tags %}
  {% load i18n %} 
    <div class="col-md-12">
        <div class="panel panel-default"  style="box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);">
            <div class="panel-heading">
                <h2 class="panel-title">
                    {% trans "Códigos" %}
                </h2>
          

          </div>
          <div class="panel-body">

          <div class="input-field col-xs-6 text-right">
            <div class="form-inline" >
             <label>{% trans "Prefijos" %}</label>
               <select class="select form-control" id="id_prefijo" name="prefijo"  onchange="searchCodigos()">
                {% if not prefijos.all|length_is:'1'%}
                <option value="prefijo">{% trans "Prefijos" %}</option>
                {% endif %}
                {% for ct in prefijos.all %}
                <option value="{{ct.prefijo}}" >{{ct}}</option>
                {% endfor %}
              </select> 
             </div>

           </div>
      
          <div id='_table_techs'>
            {% include 'data_admin/codigos/_table_codigos.html'  with feedback_form=feedback_form  %}
           </div></div>
           <div class="panel-footer">
             {% if prefijos.all %}
             <button class="btn btn-primary btn-md" data-title="Editar" id="btnAddTech" 
               onclick="tech_new();">
               <span class="glyphicon glyphicon-plus"></span>{% trans "lblAdd" %}
             </button>
             {% endif %}
           </div>
        </div>
    </div>
             


<!-- /.modal-dialog --> 


<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

  {% include 'data_admin/codigos/_codigos_edit.html'  with feedback_form=feedback_form  %}

</div>
<script>

    {% if prefijos.all|length_is:'1' %}

    searchCodigos();
    {% endif %}

   function searchCodigos(){

      var id_prefijo = $('#id_prefijo').val();
      if (id_prefijo=='prefijo')
      {

       $("#_table_techs").html("");
       return false;
      }
      
      $.ajax({
        url: "{% url 'qorder:codigos_tabla' %}",
        type: 'post',
        datatype: 'json',
        data: {id_prefijo:id_prefijo},
        statusCode: {
          200: function(data) {
        
            $("#_table_techs").html(data);
          },
          301: function(msgerror) {
               
               toastr.error(msgerror, ' ', {timeOut: 2000});
             },
                      500: function() {

                        toastr.error(gettext('Server error, contact an administrator.'), ' ', {timeOut: 2000})
                      }
                    }
                  });
    }



            function tech_new(){
                         var modal = $("new");
             var id_prefijo = $('#id_prefijo').val();
             $.ajax({
              url: "{% url 'qorder:codigos_new' %}",
              type: 'post',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              datatype: 'json',
              data: {id_prefijo:id_prefijo,form:'None'},
              context: document.body
            }).done(function(response) 
            {
             
              $('#new').html(response);
              $('#new').modal('toggle');
            });
           }




           function edit(data){
             var modal = $("new");
             
             $.ajax({
              url: "{% url 'qorder:codigos_edit' %}",
              type: 'post',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              datatype: 'json',
              data: {id:data,form:'None'},
              context: document.body
            }).done(function(response) 
            {
              
              $('#new').html(response);
              $('#new').modal('toggle');
            });
          }





          function btnSaveOnClick(id)
          {

            var modal = $("new");
            var prefijo=$("#id_prefijo").val();
            var data = $('#formcodigo').serialize();
         
            $.ajax({
              url: "{% url 'qorder:codigos_save' %}",
              type: 'post',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              datatype: 'json',

              data: data,
              statusCode: {
                200: function(data) {
                  $("#table_codigos").val(prefijo);
                  $("#id_prefijo").val(prefijo);
                  toastr.success('Codigo ingresado correctamente', ' ', {timeOut: 2000});

                },
                300: function() {
                  
                   toastr.error('El código ingresado ya existe', ' ', {timeOut: 2000});
                },                
                302: function() {
                  //  Materialize.toast('Debe seleccionar un técnico.', 2000, 'red');
                },
                500: function() {
                  //  Materialize.toast('Server error, contact an administrator.', 2000, 'red');
                }

              },
              success:  function (xhr, ajaxOptions, thrownError) {
                
                if ( $(xhr).find('.has-error').length > 0 ) {
                 $(modal).find('.modal-body').html(xhr);
                 toastr.error('Complete los campos obligatorios', ' ', {timeOut: 2000});
                    // formAjaxSubmit(form, modal);
                  } else {
                   $("#container" ).html(xhr);   
                   $(modal).modal('toggle');
                   $('body').removeClass('modal-open');
                   $('.modal-backdrop').remove();
                 }
               }
             });

          }



  

  // ---------------------------------------------------------- Generic Confirm  

    function confirm(heading, question, cancelButtonTxt, okButtonTxt, callback) {

    var confirmModal = 
      $('<div class="modal fade">' +        
          '<div class="modal-dialog">' +
          '<div class="modal-content">' +
          '<div class="modal-header">' +
            '<a class="close" data-dismiss="modal" >&times;</a>' +
            '<h3>' + heading +'</h3>' +
          '</div>' +

          '<div class="modal-body">' +
            '<p>' + question + '</p>' +
          '</div>' +

          '<div class="modal-footer">' +
            '<a href="#!" class="btn" data-dismiss="modal">' + 
              cancelButtonTxt + 
            '</a>' +
            '<a href="#!" id="okButton" class="btn btn-primary">' + 
              okButtonTxt + 
            '</a>' +
          '</div>' +
          '</div>' +
          '</div>' +
        '</div>');

    confirmModal.find('#okButton').click(function(event) {
      callback();
      confirmModal.modal('hide');
    }); 

    confirmModal.modal('show');    
  };  

  
  function enable(id,accion,rowid) {
    // get txn id from current table row
    //var id = $(this).data('id');
    
    var heading = ''; 
    var question ='{% trans "lblConfirmEnableOn" %} ' + id + '.'; 
    var cancelButtonTxt = '{% trans "btnCancel" %}'; 
    var okButtonTxt = '{% trans "btnConfirm" %}'; 

   if (accion==1)
   {
      heading = '{% trans "lblEnable" %}';
      question = '{% trans "lblConfirmEnable" %} ' + id + '.';
   }
   else
    {
      heading = '{% trans "lblDisable" %}';
      question = '{% trans "lblConfirmDisable" %} ' + id + '.';
    }
    var callback = function() {
            var filtros = {};
            filtros.csrfmiddlewaretoken = '{{csrf_token}}';
            filtros.id = id;
            filtros.name = 'enable';
            filtros.action = accion;
               
            $.ajax({
              url: "{% url 'qorder:codigos_cflags' %}",
              type: 'post',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              datatype: 'json',

              data: filtros,
              statusCode: {
                200: function(data) {
                   var cell = table_codigos.cell(rowid,2);
                    
                  
                   if (data.activo ==1)
                   {
                  
                     table_codigos.cell(rowid,2).data('<p id="disable" data-placement="top" data-toggle="tooltip" title={% trans "lblDisable" %}><span class="glyphicon glyphicon-ok" style="color:green"></span></p>').draw();
                    
                
                   }
                   else
                   {
                   
                     table_codigos.cell(rowid,2).data('<p id="enable" data-placement="top" data-toggle="tooltip" title={% trans "lblEnable" %}><span class="glyphicon glyphicon-remove" style="color:red"></span></p>').draw();
                   
                    }
                },
                301: function() {
                  //  Materialize.toast('No hay &oacute;rdenes en este estado.', 2000, 'red');
                },
                302: function() {
                  //  Materialize.toast('Debe seleccionar un técnico.', 2000, 'red');
                },
                500: function() {
                  //  Materialize.toast('Server error, contact an administrator.', 2000, 'red');
                }

              },
              success:  function (xhr, ajaxOptions, thrownError) {
                if ( $(xhr).find('.has-error').length > 0 ) {
                 $(modal).find('.modal-body').html(xhr);
                 toastr.error('{% trans "lblCompleteMandatoryField" %}', ' ', {timeOut: 2000})
                    // formAjaxSubmit(form, modal);
                  } else {
                 //  $("#container" ).html(xhr);   
                   //$(modal).modal('toggle');
                   //$('body').removeClass('modal-open');
                  // $('.modal-backdrop').remove();
                   

                   
                    //table_anomalias.row(rowid).invalidate().draw();
                 }
               }
             });

    
    };
    confirm(heading, question, cancelButtonTxt, okButtonTxt, callback);
  }



        </script>