  <div class="col-md-12">
    <table id="table_contactos" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido 1</th>
                      <th>Apellido 2</th>
                      <th>Dirección</th>
                      <th>Tel. Fijo</th>
                      <th>Tel. Móvil</th>
                      <th>eMail 1</th>
                      <th>eMail 2</th>


                      <th>Editar</th>
                      <th>Eliminar</th>
                      <th>Id</th>
                    </tr>
                  </thead>
                  <tbody>
                            {% for t in contactos %}
                            <tr>
                                <td>{{t.nombre|default_if_none:'--'}}</td>
                                <td>{{t.apellido_1|default_if_none:'--'}}</td>
                                <td>{{t.apellido_2|default_if_none:'--'}}</td>
                                <td>{{t.direccion|default_if_none:'--'}}</td>
                                <td>{{t.telefono_fijo|default_if_none:'--'}}</td> 
                                <td>{{t.telefono_movil|default_if_none:'--'}}</td>

                                <td>{{t.email_1|default_if_none:'--'}}</td>
                                <td>{{t.email_2|default_if_none:'--'}}</td>                      
                                <td><i class="fa fa-fw fa-lg fa-pencil text-primary"></i></td>
                                <td><i class="fa fa-fw fa-lg fa-remove text-danger"></i></td>
                                <td>{{t.id}}</td>
   
                                
                             </tr>
                            {% endfor %}
                  
                  </tbody>
                </table>
          
   </div>
 <script> 

          var table_contactos = $('#table_contactos').DataTable( {
            language: datetable_languaje,
            autoWidth: true,

            "columnDefs": [
            {
              "targets": [ 8 ,9],
              "visible": true,
              "sorting" : false,
              "searchable": false
            },
            {
              "targets": [ 10],
              "visible": false,
              "sorting" : false,
              "searchable": false
            },
            ],
            pageLength:6,

           
            preDrawCallback: function (settings) {
              var api = new $.fn.dataTable.Api(settings);
              var pagination = $(this)
              .closest('.dataTables_wrapper')
              .find('.dataTables_paginate');

              if (api.page.info().pages <= 1) {
                pagination.hide();
              }
              else {
                pagination.show();
              }

            }
          });
         

         $('#table_contactos tbody').on( 'click', 'td', function () {

    var rowIdx = table_contactos.cell( this ).index().row;
    var colIdx = table_contactos.cell(this).index().column;
    var codigo = table_contactos.cell(rowIdx,10).data() ;
    
    if (colIdx==8)
    {
             var modal = $("new");
        
             $.ajax({
              url: "{% url 'qorder:contacto_edit' %}",
              type: 'post',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              datatype: 'json',
              data: {id:codigo,form:'None'},
              context: document.body
            }).done(function(response) 
            {
              
              $('#new').html(response);
              $('#new').modal('toggle');
            });
    }
    if (colIdx==9)
    {
                 $.ajax({
              url: "{% url 'qorder:contacto_delete' %}",
              type: 'post',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              datatype: 'json',
              data: {id:codigo,form:'None'},
              context: document.body
            }).done(function(response) 
            {
              $("#contactos" ).html(response);
              toastr.success('Contacto borrado', ' ', {timeOut: 2000})
            });
    }
  
} );

            function contacto_new(){
                         var modal = $("new");

             $.ajax({
              url: "{% url 'qorder:contacto_new' %}",
              type: 'post',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              datatype: 'json',
              data: {cliente:'{{codigo}}',form:'None'},
              context: document.body
            }).done(function(response) 
            {

              $('#new').html(response);
              $('#new').modal('toggle');
            });
           }

          function btnSaveContacto(id)
          {

            var modal = $("new");
           
            var data = $('#formcontact').serialize();
            
            $.ajax({
              url: "{% url 'qorder:contacto_save' %}",
              type: 'post',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              datatype: 'json',

              data: data,
              statusCode: {
                200: function(data) {
                  $('#new').modal('toggle');
                },
                301: function() {
                  toastr.error('Complete los campos obligatorios', ' ', {timeOut: 2000})
                },
                302: function() {
                  //  Materialize.toast('Debe seleccionar un técnico.', 2000, 'red');
                },
                500: function() {
                  //  Materialize.toast('Server error, contact an administrator.', 2000, 'red');
                }

              },
              success:  function (xhr, ajaxOptions, thrownError) {
                
                if ( $(xhr).find('.has-error').length > 0 ) {
                 $(modal).find('.modal-body').html(xhr);
                 toastr.error('Complete los campos obligatorios', ' ', {timeOut: 2000})
                    // formAjaxSubmit(form, modal);
                  } else {
                     
             
                   $('body').removeClass('modal-open');
                   $('.modal-backdrop').remove();
                   $("#contactos" ).html(xhr); 
                 }
               }
             });

          }


</script>