{% load core_tags %}
{% load qorder_tags %}
{% load i18n %}
<div class="panel panel-default">
    <div class="panel-body">
        <!--primer tab-->
        <div class="panel panel-default" modal="box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);">
            <div class="panel-heading">
                <div class="container-fluid panel-container style='padding-right:0px; padding-left:0px;'">
                    <div class="col-xs-6">
                        <h2 class="panel-title">
                            {% trans "tituloAsignacion" %}
                        </h2>
                    </div>
                    <div class="input-field col-xs-3 ">
                        <div class="form-inline">
                            <label>{% trans "Semana" %}</label>
                            <input style="width: 70%;" class="select form-control" list="semanas" id="semana" value="{{semana}}" name="semana"  autocomplete="off">
                            <datalist id="semanas" name="semanas" >
                                <option value="{{semana}}"></option>
                                <option value="TODAS"></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="input-field col-xs-3 text-right" >
                        <div class="form-inline">
                            <label>{% trans "Contratista" %}</label>
                            <select class="select form-control" id="id_oficina" name="oficina" onchange="search()">
                                {% if not user.work_units.all|length_is:'1' %}
                                <option value="">{% trans "Contratista" %}</option>
                                {% endif %}
                                {% for ct in user.work_units.all %}
                                <option value="{{ct.id_workunit}}">{{ct}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <row>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Rutas</h4></div>
                            <div class="panel-body">
                                <div id='_table_routes'>
                                    {% include 'ordenes/asignacion/rutas/_table_routes.html'  with feedback_form=feedback_form  %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Lecturistas</h4></div>
                            <div class="panel-body">
                                <div id='_table_techs'>

                                </div>

                            </div>
                        </div>
                    </div>
                    <br><br>
                </row>

                <row>

                <button id="btnSave" style="width:210px" class="btn btn-primary pull-right" type="button" onclick="btnSaveOnClick('{{ problema.id_problema }}')">
                    Asignar
                </button>
                
                </row>

                <row>


                    <div class="col-md-12"><br>

                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">Itinerarios asignados</h4></div>
                            <div class="panel-body">
                                <div>
                                    <input type="checkbox" id="chkMostrarGuardados" name="Incluir rutas guardadas" style="float:left"> Ver rutas guardadas
                                </div>
                                <div id="_table_asignados">

                                </div>
                            </div>
                        </div>
                    </div>

                </row>

                <row>

                <button id="btnGuardarAsignacion" style="width:210px" class="btn btn-primary pull-right" type="button">
                    Guardar Asignaciones
                </button>

                </row>

            </div>
        </div>
    </div>
</div>


<script>

    function search()
    {
        $('#chkMostrarGuardados').prop('checked', false);

        if ($('#id_oficina').val()!='')
        {
            searchTechnicians();
            searchRoutes();
            searchAsignaciones();
        }

    }


    function searchRoutes(){

        var centro = $('#id_oficina').val();
        
        $('#id_oficina').val(centro);
      
        var semana = $('#semana').val();
    
        $.ajax({
          url: "{% url 'qorder:asignacion_route' %}",
          type: 'post',
          datatype: 'json',
          data: {id_oficina:centro,semana:semana,csrfmiddlewaretoken : '{{csrf_token}}'},
          statusCode: {
            200: function(data) {
              $("#_table_routes").html(data);
              actualizar();
            },
            301: function() {
                          //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
                        },
            500: function() {

                toastr.error('Server error, contact an administrator.', ' ', {timeOut: 2000})
            }
            }
        });
    }


    $('#semana').on('input', function() {
        if( $(this).val().length === 0 ) {
            $('#semana').val('');
            toastr.error('Seleccione una semana valida', ' ', {timeOut: 1500})
            $("#_table_routes").html('');
            return false;
        } else {
        
            if ($(this).val().length > 2 || $(this).val() === 'TODAS')
            {
                var centro = $('#id_oficina').val();
                var semana = $('#semana').val();
                incluirExp = $('#chkRexportar').prop('checked')
                
                if (centro==""||semana=="")
                {
                    $("#tabla_export").html('');
                    return;
                }

                $.ajax({
                url: "{% url 'qorder:asignacion_route' %}",
                type: 'post',
                datatype: 'json',
                data: {id_oficina:centro,semana:semana,csrfmiddlewaretoken : '{{csrf_token}}'},
                statusCode: {
                        200: function(data) {
                        $("#_table_routes").html(data);
                        actualizar();
                        },
                        301: function() {
                        //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
                        },
                        500: function() {

                        toastr.error('Server error, contact an administrator.', ' ', {timeOut: 2000})
                        }
                    }
                });
            }
        }
    });



    function searchTechnicians()
    {
  
      var centro = $('#id_oficina').val();
  
      $('#id_oficinah').val(centro);
    
      var aver = $('#id_oficinah').val();
      
      $.ajax({
        url: "{% url 'qorder:asignacion_tech' %}",
        type: 'post',
        datatype: 'json',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: {id_oficina:centro},
        statusCode: {
            200: function(data) {
        
                $("#_table_techs").html(data);
            },
            301: function() {
                //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
            },
            500: function() {
                toastr.error('Server error, contact an administrator.', ' ', {timeOut: 2000})
            }
        }
        });
    }


    function searchAsignaciones()
    {
        valuecheck='';
        if($("#chkMostrarGuardados").is(':checked')) {
            valuecheck=1;
        } else {
            valuecheck=0;
        }
        var centro = $('#id_oficina').val();
        
        $('#id_oficinah').val(centro);
        if (centro==''){
            toastr.error('Seleccione un contratista', ' ', {timeOut: 2000})
            return;
        }

        var aver = $('#id_oficinah').val();

        $.ajax({
        url: "{% url 'qorder:asignacion_asignaciones' %}",
        type: 'post',
        datatype: 'json',
        data: {valuecheck:valuecheck,id_oficina:centro,csrfmiddlewaretoken : '{{csrf_token}}'},
        statusCode: {
            200: function(data) {
            
            $("#_table_asignados").html(data);
            },
            301: function() {
            //Materialize.toast('El técnico no tiene asignado un dispositivo', 2000, 'red');
            },
            500: function() {
            toastr.error('Server error, contact an administrator.', ' ', {timeOut: 2000})
            }
        }
        });
    }


    function btnSaveOnClick()
    {
      var ids_ordenes ="[";
      if (table_routes.rows('.selected').data().count()>0)
      {
  
          var m_ids_ordenes = $.map(table_routes.rows('.selected').data(), function (item) {
          return item[7];
            });
          m_ids_ordenes.forEach(function(entry) {
          ids_ordenes += "'" + entry + "',";
            });
        
          }
      else
      {
        toastr.error("Seleccione al menos una ruta","Atención!!",1500);
        return;
      }
      ids_ordenes +=  "]";
      
      
      var id_tecnico ="";
      if (table_tecnico.rows('.selected').data().count()>0)
      {
  
          var m_id_tecnico = $.map(table_tecnico.rows('.selected').data(), function (item) {
          return item[3];
            });
          m_id_tecnico.forEach(function(entry) {
          id_tecnico += "'" + entry + "'";
            });
        
          }
      else
      {
        toastr.error("Seleccione al menos un lecturista","Atención!!",1500);
        return;
      }
      
      
  
      var filtros = {};
  
      filtros.csrfmiddlewaretoken = '{{csrf_token}}';
      filtros.ids_rutas = ids_ordenes;
      filtros.id_tecnico = id_tecnico;
  
      $.ajax({
        url: "{% url 'qorder:asignar_route' %}",
        type: 'post',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        datatype: 'json',
  
        data: filtros,
        statusCode: {
          200: function (data) {
              toastr.success(data, ' ', 2000);
  
              searchTechnicians();
              searchRoutes();
              searchAsignaciones();
          },
          301: function (data) {
              toastr.warning(data.responseText, ' ', 5000);
          },
          302: function() {
            //  Materialize.toast('Debe seleccionar un técnico.', 2000, 'red');
          },
          500: function() {
            toastr.error('Server error, contact an administrator.', ' ', 2000);
            //  Materialize.toast('Server error, contact an administrator.', 2000, 'red');
          }
  
        },
        });
    }


    $("#btnGuardarAsignacion").on('click', function(){
        var filtros = {};
  
        filtros.csrfmiddlewaretoken = '{{csrf_token}}';
  
        $.ajax({
            type: "post",
            url: "{% url 'qorder:guardar_asignar_ordenes' %}",
            data: filtros,
            statusCode: {
                200: function() {
                    //searchTechnicians();
                    searchRoutes();
                    searchAsignaciones();
                    
                      //toastr.success('Asignación guardada correctamente.',' ', 2000);
                },                
                300: function() {
                    toastr.error('Error al guardar las asignaciones.',' ', 2000);
                },
                301: function() {
                  
                    searchRoutes();
                    searchAsignaciones();
  
                    toastr.error('No hay itinerarios para guardar.',' ', 2000);
                    
                },
                302: function() {
                    toastr.error('El técnico no tiene asignado un dispositivo',' ', 2000);
                },
                303: function() {
                    toastr.error('Seleccione al menos una orden.',' ', 2000);
                },
                500: function() {
                      toastr.error('Error en el servidor, contacte al administrador.',' ', 2000);
                }
            },
            success: function( strData ){
                //TODO: print ticket play
                //$("#resultado").html(strData);
                toastr.success('Se guardaron correctamente '+strData+' asignaciones de órdenes.',' ', 2000);
                searchTechnicians();
                searchRoutes();
                searchAsignaciones();
  
            }
        });
    });


    function actualizar()
    {
        table_routes = $('#table_routes').DataTable( {
        language: datetable_languaje,
        autoWidth: true,
        info: false,
        scrollY: 180,
        pageLength:180,
        select: 'multi',
        columnDefs: [
            {
                "targets": [ 0,7 ],
                "visible": false,
                "searchable": false
            },

        ],
        dom: 'Bfrtip',
        buttons: [
            {
                extend:'copy',
                text:'Copiar',
            },
        ],
        preDrawCallback: function (settings) {
            var api = new $.fn.dataTable.Api(settings);
            var pagination = $(this)
            .closest('.dataTables_wrapper')
            .find('.dataTables_paginate');

            if (api.page.info().pages <= 1) {
            pagination.hide();
            }
            else {
            pagination.show();
            }
        }
        });
    }

    $("#chkMostrarGuardados").click(function() {
        valuecheck='';
        if($("#chkMostrarGuardados").is(':checked')) {
            valuecheck=1;
        } else {
            valuecheck=0;
        }
        searchAsignaciones();
    });
  



</script>